<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- Запросы к другим приложениям (для Guru Maps) -->
    <queries>
        <!-- Пакеты Guru Maps -->
        <package android:name="com.bodunov.galileo" />
        <package android:name="com.bodunov.GalileoPro" />
        <package android:name="com.gurumaps.android" />

        <!-- Интенты для открытия файлов -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/gpx+xml" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/xml" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPX2MS">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>